@{
    ViewBag.Title = "About";
}

<p>
    AIMS is a mobile app and web portal designed to ease the pain points associated with (student / intern) workforce management<br /><br />
    Current Features:
    <ul>
        <li>Account Registration</li>
        <li>Scorecard Surveys</li>
    </ul>
    Coming Soon!
    <ul>
        <li>User Profile</li>
        <li>Clock In / Clock Out</li>
        <li>Raise Hand</li>
        <li>Program Calendar</li>
    </ul>
</p>
