@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>AIMS is a mobile app and web portal designed to ease the pain points associated with (student / intern) workforce management<br /><br />
Features:
    <ul>
        <li>Account Registration</li>
        <li>Program Calendar</li>
        <li>Clock In / Clock Out</li>
        <li>Raise Hand</li>
        <li>Scorecard Surveys</li>
        <li>User Profile</li>
    </ul>
</p>
