@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Eleven Fifty Academy<br />
    484 East Carmel Drive, Suite 256<br />
    Indianapolis, IN 46032<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:aims@elevenfifty.org">AIMS@elevenfifty.org</a>
</address>