
@{
    ViewBag.Title = "Home";
}

<section class="section-job">
    <div class="cols col col-lg-12">
        <div class="col col-lg-6 fsr-container" style="background-image: url(../../img/aims-employers.jpg);">
            <div class="col-inner" style="background-color: #e01e26;">
                <a href="../StudentPortal/StudentPortal" class="btn btn-block btn-center-vertical" target="_self" style="color: white;">I'm a Student/Employee</a>
            </div>

        </div>
        <div class="col col-lg-6 fsr-container" style="background-image: url(../../img/aims-employees.jpg);">
            <div class="col-inner" style="background-color: #7aced6;">
                <a href="../AdminPortal/AdminPortal" class="btn btn-block btn-center-vertical" target="_self" style="color: white;">I'm a Teacher/Employer</a>
            </div>
        </div>
    </div>
</section>

