@{
    ViewBag.Title = "AIMS";
}

<div class="jumbotron">
    <h1>AIMS</h1>
    <p class="lead">Apprentice Intern Management System</p>
    <p>@Html.ActionLink("Learn More", "About")</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2></h2>
        <p></p>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p></p>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p></p>
        <p></p>
    </div>
</div>