@model AIMS.Models.SurveyViewModel

@{
    ViewBag.Title = "Create Survey";
}

<div class="container">
    <div class="col-md-9 col-md-offset-3">
        @using (Html.BeginForm("Create", "Survey", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <div>
                <h2>Survey Title<br /></h2>
                <input type="text" name="surveyName" required /><br /><br />
                
            </div>
            <div id="questions"></div>
            <div>
                <br/>
                <button id="btnAddQuestion" class="btn-aims">Add a new multiple choice question</button> with 
                <input id="responseNum" type="number" min="1" value="1" style="width:45px" required />
                responses
            </div>
            <div>
                <br />
                <button id="btnAddQuestionParagraph" class="btn-aims">Add a new paragraph question</button> 
            </div>
            <div>
                <br /><br />
                <button type="submit" class="btn-aims-submit">Done</button>
            </div>
        }
    </div>
</div>

@section Scripts {
    <script language="javascript" type="text/javascript">
        $(document).ready(function () {
            var questions = $('#questions');
            var responses = $('#responses');
            $('#btnAddQuestion').click(function (e) {
                e.preventDefault();
                var repsoneNum = $('#responseNum').val()
                questions.append('Question - Muliple Choice: <br/>');
                $('<input type="text" name="dynamicQuestion" placeholder="question" required /><br/>Responses<br/>').appendTo(questions);
                //Hidden field to store number of responses for each question
                $('<input id =1 type="hidden" name="repsoneNum" value="' + repsoneNum + '"/>').appendTo(questions);
                for (i = 0; i < repsoneNum; i++) {
                    @*$('<input type="text" name="dynamicResponse" placeholder="text" required />&nbsp;<input type="number" name="dynamicResponseValue" placeholder="value" required />&nbsp;<label for="file-input"><img alt="Add Image" src="../../img/icon-image.jpg" height="45" width="45" /></label><input style="display:none;" id="file-input" type="file"/><br/>').appendTo(questions);*@
                    $('<input type="text" name="dynamicResponse" placeholder="text" required />&nbsp;<input type="number" name="dynamicResponseValue" placeholder="value" required />&nbsp;<input type="file" name="dynamicResponseImage" id="dynamicResponseImageFN" style="display:inline;"/><br/>').appendTo(questions);
                }
            });
            $('#btnAddQuestionParagraph').click(function (e) {
                e.preventDefault();
                questions.append('Question - Paragraph: <br/>');
                $('<input type="text" name="dynamicQuestion" placeholder="question" required />').appendTo(questions);
                //Hidden field to store number of responses for each question
                $('<input id =1 type="hidden" name="repsoneNum" value="1"/><br/>').appendTo(questions);
                $('<input type="hidden" name="dynamicResponse" value="paragraph" /><input type="hidden" name="dynamicResponseValue" value="" /><br/>').appendTo(questions);
            });
        });
    </script>
}

