

.nav { 
    margin:0 auto; 
    width: 100%;
    background:#000; 
}

.nav a {
    float: left; 
    padding:5px 0; 
    color:#ff0000;
    background:#000; 
    text-decoration:none;
    margin:0 10px; 
    font-family:arial;
}

.nav a:hover { 
    border-bottom:3px solid #000;
}

nav .left {
    float: left;
}

nav .right {
    float: right;
}



