body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.cols {
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;
}

.col-inner:hover {
    opacity: .8;
}

.col-inner{
    width: 100%;
    height: 900px;
    text-align: center;
    vertical-align: middle;
    line-height: 500px; 

    padding:0;
    margin:0;

    top:0;
    left:0;
}

.btn-center-vertical {
    position:relative;
    top:50%; 
}

.col-inner, 
.fsr-container, 
.section-job, 
.cols {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
