body {
    padding-top: 50px;
    padding-bottom: 20px;
    margin: 0px 0px;
    font-family: 'Open Sans', sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

body > div {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.container{
    padding: 0 0 0 0 !important;
    margin: 0 0 0 0 !important;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
    height: 45px;
    border-radius: 15px;
    padding: 5px; 
}

/*Landing Page - Start Region*/

#bootstrap-overrides {
    padding: 0 0 0 0;
}

.cols {
    position:absolute;
    padding:0;
    margin:0;

    top:0;
    left:0;
    right:0;
}

div{
    transition: opacity linear .25s;
}

h1{
    font-size: 40px;
}

.col-inner:hover,
.col-inner-grid:hover {
    opacity: .65;
}


.col-inner > .btn-opaque {
    font-size: 40px;
}
.col-inner-grid > .btn-opaque {
    font-size: 30px;
}

#actionLinkBold {
    font-weight: bold;
}

.col-inner{
    position: relative;
    min-width: 50%;
    height: 100vh;
    text-align: center;

    padding:0;
    margin:0;

    top:0;
    left:0;
    right:0;
}

.grid1 {
    width: 100vw;
    padding-top: 8vh;
}

.col-inner-grid{
    position: relative;
    min-width: 33.3333vw;
    height: 46vh;
    text-align: center;

    padding:0;
    margin:0;

    top:0;
    left:0;
    right:0;
}

.btn-center-vertical {
    position:relative;
    top:50%; 
}

.btn-top-vertical {
    top: 10%;
}

.col-inner, 
.col-inner-grid,
.fsr-container, 
.fsr-container-grid,
.section-job, 
.cols,
.grid1 {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.fsr-container-grid {
    float:left;
}

/*Landing Page - End Region*/

/*Nav Bar - Start Region*/

.navbar-default{
  background-color: white !important;
  border-color: white !important;
  margin: 0 0 0 0;
}

.navbar-nav > li > a{
  text-transform: uppercase !important;
  font-family: 'Open Sans', sans-serif;
  color: black !important;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 1px;
  border-bottom: 2px transparent; 
}

.img-logo{
  display: inline-block;
  max-width: 30px !important;
  margin: -5 0 0 0;
  padding-top: -5;
}

li.dropdown:hover > .dropdown-menu {
    display: block;
    background-color: #ee3333;
    text-transform: uppercase !important;
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    font-weight: 600;
    background-clip: padding-box;

}

.dropdown-menu > li > a{
  color: white;
  display: flex !important;
}

.dropdown-menu > li > a:hover{
  display: list-item;
  background-color: rgba(128,0,0,0.95);
  color: white;

}

.navbar-default .navbar-nav > li > a:hover {
    border-bottom: 2px solid !important
}

/*Nav Bar - End Region*/

/*Headers - Start Region*/
h1 {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
}

h2 {
    
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
}

/*Headers - End Region*/

/*Buttons - Start Region*/
.btn-aims {
    height: 45px;
    border-radius: 15px;
    padding: 5px; 
}

.btn-aims-submit {
    height: 45px;
    border-radius: 15px;
    padding: 5px; 
    font-size: 14px;
    font-weight: bold;
    background-color: #7aced6;
    text-transform: uppercase;
    padding-right: 25px;
    padding-left: 25px;
}
/*Buttons - End Region*/