@{
    ViewBag.Title = "AIMS";
}
<body id="bootstrap-overrides">
    <div class="grid1">
        <div class="col-lg-4 fsr-container-grid" id="bootstrap-overrides" style="background-image: url(../../img/AIMS-Organizations-bw.jpg);">
            <div class="col-lg-12 col-inner-grid" style="background-color: #e01e26;">
                <h1 style="color:white;"><b>Organizations</b></h1>
                <a href="/Organization/Create" class="btn btn-block btn-opaque" style="color:white;"><b>Create</b></a>
                <a href="/Organization/Index" class="btn btn-block btn-opaque" style="color:white;"><b>Find</b></a>
            </div>
        </div>
        <div class="col-lg-4 fsr-container-grid" id="bootstrap-overrides" style="background-image: url(../../img/AIMS-Groups-bw.jpg);">
            <div class="col-lg-12 col-inner-grid" style="background-color: #7aced6;">
                <h1 style="color:white;"><b>Groups</b></h1>
                <a href="/Organization/Index" class="btn btn-block btn-opaque" style="color:white;"><b>Create</b></a>
                @Html.ActionLink("Find", "Index", "Group", new { organizationId = -1 }, new { @class = "btn btn-block btn-opaque", style = "color:white;", id = "actionLinkBold" })
            </div>
        </div>
        <div class="col-lg-4 fsr-container-grid" id="bootstrap-overrides" style="background-image: url(../../img/AIMS-Users-bw.jpg);">
            <div class="col-lg-12 col-inner-grid" style="background-color: #e01e26;">
                <h1 style="color:white;"><b>Users</b></h1>
                <a href="/Account/Register" class="btn btn-block btn-opaque" style="color:white;"><b>Register User</b></a>
                <a href="/User/Index" class="btn btn-block btn-opaque" style="color:white;"><b>Find User</b></a>
            </div>
        </div>
        <div class="col-lg-4 fsr-container-grid" id="bootstrap-overrides" style="background-image: url(../../img/AIMS-Surveys-bw.jpg);">
            <div class="col-lg-12 col-inner-grid" style="background-color: #7aced6;">
                <h1 style="color:white;"><b>Surveys</b></h1>
                <a href="/Survey/Create" class="btn btn-block btn-opaque" style="color:white;"><b>Create</b></a>
                <a href="/Survey/Index" class="btn btn-block btn-opaque" style="color:white;"><b>Find</b></a>
            </div>
        </div>
        <div class="col-lg-4 fsr-container-grid" id="bootstrap-overrides" style="background-image: url(../../img/aims-employers.jpg);">
            <div class="col-lg-12 col-inner-grid" style="background-color: #e01e26;">
                <h1 style="color:white;"><b>Events</b></h1>
                <a href="#" class="btn btn-block btn-opaque" style="color:white;"><b>Coming Soon...</b></a>
            </div>
        </div>
        <div class="col-lg-4 fsr-container-grid" id="bootstrap-overrides" style="background-image: url(../../img/aims-employees.jpg);">
            <div class="col-lg-12 col-inner-grid" style="background-color: #7aced6;">
                <h1 style="color:white;"><b>Properties</b></h1>
                <a href="#" class="btn btn-block btn-opaque" style="color:white;"><b>Coming Soon...</b></a>
            </div>
        </div>
    </div>
</body>
